{% load i18n %}

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
  <li>
    <form method="GET" action="">
        {% for k, v in all_choice.query_parts %}
            <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}

        <div>Before block:</div>
        <input
           type="text"
           value="{{ spec.before_value|default_if_none:'' }}"
           name="{{ spec.BEFORE_BLOCK_PARAMETER_NAME }}"/>  

        <div>After block:</div>
        <input
           type="text"
           value="{{ spec.after_value|default_if_none:'' }}"
           name="{{ spec.AFTER_BLOCK_PARAMETER_NAME }}"/>

        <!-- Somehow unable to submit without a button with type submit -->
        <button type="submit" style="display:none">Filter</button>
    </form>
  </li>
</ul>
