<!DOCTYPE html>
<html>
<head>
    <title>WatchTower</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://watchtower.cash">
    <meta property="og:site_name" content="WatchTower.Cash">
    <meta property="og:title" content="WatchTower.Cash">
    <meta property="og:description" content="Instant and reliable infrastructure connecting you to the Bitcoin Cash blockchain">

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <b-navbar type="dark" variant="dark">
            <b-navbar-brand href="#">
                <img src="/static/watchtower_logo.png" width="50" alt="Watchtower">
                <span style="font-size: 35px; vertical-align: middle; color: rgb(91, 186, 116)">
                    Watchtower
                </span>
                <span style="color: darkgray; font-size: 14px;">BETA</span>
            </b-navbar-brand>
      
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item href="#">Documentation</b-nav-item>
                    <b-nav-item href="https://watchtower.cash/api/docs/">API Browser</b-nav-item>
                    <b-nav-item href="https://github.com/paytaca/watchtower-cash">Source Code</b-nav-item>
                </b-navbar-nav>
          </b-collapse>
        </b-navbar>
        <div>
            <b-jumbotron header="Watchtower" lead="Provides instant and reliable infrastructure connecting you to the Bitcoin Cash blockchain">
              <!-- <b-button variant="dark" href="#">Try It Now</b-button> -->
            </b-jumbotron>
          </div>
      </div>
    </div>
    <script>
        axios.defaults.xsrfCookieName = "csrftoken"
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        new Vue({
            el: '#app',
            delimiters: ['{[', ']}']
        })
    </script>
</body>
</html>
