{% extends 'main/base.html' %}

{% block content %}
<div>
  <p>Watching {{ address }}</p>
  {% if tokenid %}
    <p>Token : {{ tokenid }}</p>
  {% endif %}

  <textarea id="txs-log" cols="100" rows="20"></textarea><br />
</div>
{% endblock content %}

{% block script %}
<script>
  
  const protocol = window.location.protocol.replace("http", "ws");
  var address = '{{address}}';
  var tokenid = '{{tokenid}}';
  var socket_url = protocol + "//" + window.location.host;
  if (address.startsWith('bitcoincash')) {
    socket_url += "/ws/watch/bch/" + "{{address}}" + "/";
  }

  if (address.startsWith('simpleledger')) {
    socket_url += "/ws/watch/slp/" + "{{address}}" + "/";
    if (tokenid) {
      socket_url += tokenid +"/";
    }
  }

  const chatSocket = new WebSocket(socket_url);

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var message = "\nTXID:"+ data.txid + "\n TOKEN:" + data.token + "\n AMOUNT:" + data.amount;
    document.querySelector("#txs-log").value += message;
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

</script>
{% endblock script %}