#header{
    background-color: #232f3e !important;
  
  }
  .breadcrumbs{
    background-color: #232f3e !important;
  
  }
  
  caption{
    background-color:#232f3e !important;
  
  }
  
  .module h2, .module caption, .inline-group h2 {
      background-color: #9fa8ad !important;
  }
  
  #content-related .module h2 {
      color: #fff !important;
  }

  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #3acc9e;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button :hover{
  background: #74d8b8;
}
.button.default, input[type=submit].default, .submit-row input.default {
  float: right;
  border: none;
  font-weight: 400;
  background: #218e6b;
}

