{% extends "base/index.html" %}
{% load static  %}
{% block content %}
<style>
    .container
{
    width: 500px;
    margin: -14px auto;
}

.preview
{
    padding: 10px;
    position: relative;
}

.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 10px;
    left: 126px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.form-group
{
    width:  250px;
    margin: 10px auto;
}

.form-group input
{
    transition: 0.3s linear;
}

.form-group input:focus
{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}

.Error
{
    color: crimson;
    font-size: 13px;
}

.Back
{
    font-size: 25px;
}
</style>
<div id="layoutSidenav_content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2>Account</h2></li>
        </ol>
    </nav>
    <div class="container">
        <form name="updateaccount" id="updateaccount" action="{% url 'account' %}" method="post">
            {% csrf_token %}
            <input style="display:none;" type="text"  name="action" class="form-control" id="action" value="update">
            <div class="form-group">
                <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Firstname">
            </div>
            <div class="form-group">
                <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Lastname">
            </div>
            <div class="form-group">
                <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="setpassword"  class="form-control" aria-describedby="emailHelp" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" name="repassword" id="repassword"  class="form-control" aria-describedby="emailHelp" placeholder="Re-Type Password">
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Update"/>
            </div>
        </form>
    </div>
            
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; SPICE 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(function() {
          $("form[name='updateaccount']").validate({
            rules: {
              firstname: "required",
              lastname: "required",
              email: {
                required: true,
                email: true
              },
              password: {
                required: true,
                minlength: 5
              },
              repassword: {
                required: true,
                equalTo: "#setpassword"
              }
            },
            
            messages: {
              firstname: "Field required.",
              lastname: "Field required.",
              password: {
                required: "Field required.",
                minlength: "Your password must be at least 5 characters long"
              },
              email: "Must be a valid email address",
              repassword: {
                required: "Field required",
                equalTo: "Password mismatch"
              }
            },
          
            submitHandler: function(form) {
              form.submit();
            }
          });
        });
    
      </script>
</div>
{% endblock content %}