{% extends "base/index.html" %}
{% load static  %}
{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><h2>Dashboard</h2></li>
                </ol>
            </nav>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header text-primary"><i class="fas fa-table mr-1 "></i>Transactions</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Amount</th>
                                        <th>Block</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Transaction ID</th>
                                        <th>Amount</th>
                                        <th>Block</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for trans in transactions %}
                                        <tr>
                                            <td>{{ trans.txid }}</td>
                                            <td>{{ trans.amount }}</td>
                                            <td>{{ trans.blockheight__number }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; SPICE 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock content %}