{% extends "base/index.html" %}
{% load static  %}
{% block content %}
<div class="container">
<style>
    body{
      padding-top:4.2rem;
      padding-bottom:4.2rem;
      background: #232f3e !important;
    }
    a{
      text-decoration:none !important;
     }
    .myform{
      position: relative;
      display: -ms-flexbox;
      display: flex;
      padding: 1rem;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 1.1rem;
      outline: 0;
      max-width: 500px;
    }
    .tx-tfm{
      text-transform:uppercase;
    }
    .mybtn {
      padding: 10px;
      border: none;
      border-radius:4px;
      background: #74d8b8;
    }
    .mybtn:hover {
      background: #447e9b;
    }
    .login-or {
      position: relative;
      color: #aaa;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .span-or {
      display: block;
      position: absolute;
      left: 50%;
      top: -2px;
      margin-left: -25px;
      background-color: #fff;
      width: 50px;
      text-align: center;
    }
    .hr-or {
      height: 1px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
    .google {
      color:#666;
      width:100%;
      height:40px;
      text-align:center;
      outline:none;
      border: 1px solid lightgrey;
    }
    form .error {
      color: #ff0000;
    }
    #second{
      display:none;
    }
    .container-title {
      color: #232f3e;
    }
  </style>
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1 class="container-title">SLPNotify</h1>
            </div>
          </div>
          <form method="POST" id="add_form" action="{% url 'loginpage' %}">{% csrf_token %}
              <div class="form-group">
                <input type="text" name="username"  class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Password">
              </div>
              <div class="form-group">
                <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
              </div>
              <div class="col-md-12 text-center ">
                <button type="submit" class=" button btn-block mybtn btn-primary tx-tfm">Login</button>
              </div>
              <div class="col-md-12 ">
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                </div>
              </div>
              <div class="form-group">
                <p class="text-center">Don't have account? <a href="#" id="signup">Sign up here</a></p>
              </div>
          </form>     
        </div>
      </div>
      <div id="second">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
                <h1 class="container-title">Signup</h1>
            </div>
          </div>
          <form method="POST"  id="register_form" action="{% url 'account' %}" name="registration">
            {% csrf_token %}
            <input style="display:none;" type="text"  name="action" class="form-control" id="action" aria-describedby="emailHelp" value="register">
            <div class="form-group">
                <input type="text"  name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Firstname">
            </div>
            <div class="form-group">
                <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Lastname">
            </div>
            <div class="form-group">
                <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="setpassword"  class="form-control" aria-describedby="emailHelp" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" name="repassword" id="repassword"  class="form-control" aria-describedby="emailHelp" placeholder="Re-Type Password">
            </div>
            <div class="col-md-12 text-center mb-3">
                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started For Free</button>
            </div>
            <div class="col-md-12 ">
                <div class="form-group">
                  <p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>   
  <script>
    $("#signup").click(function() {
      $("#first").fadeOut("fast", function() {
        $("#second").fadeIn("fast");
      });
    });

    $("#signin").click(function() {
      $("#second").fadeOut("fast", function() {
        $("#first").fadeIn("fast");
      });
    });

    $(function() {
      $("form[name='login']").validate({
        rules: {
          email: {
            required: true,
            email: true
          },
          password: {
            required: true,
          }
        },
        messages: {
          username: 'Please enter username',
          email: "Please enter a valid email address",
          password: {
            required: "Please enter password",
          
          }
        },
        submitHandler: function(form) {
          form.submit();
        }
      });
    });

    $(function() {
      
      $("form[name='registration']").validate({
        rules: {
          username: "required",
          firstname: "required",
          lastname: "required",
          email: {
            required: true,
            email: true
          },
          password: {
            required: true,
            minlength: 5
          },
          repassword: {
            required: true,
            equalTo: "#setpassword"
          }
        },
        
        messages: {
          username: "Field required.",
          firstname: "Field required.",
          lastname: "Field required.",
          password: {
            required: "Field required.",
            minlength: "Your password must be at least 5 characters long"
          },
          email: "Must be a valid email address",
          repassword: {
            required: "Field required",
            equalTo: "Password mismatch"
          }
        },
      
        submitHandler: function(form) {
          form.submit();
        }
      });
    });

  </script>
</div>
{% endblock content %}