{% extends "base/index.html" %}
{% load static  %}
{% block content %}
<style>
    .container
{
    /* width: 500px; */
    margin: 20px auto;
}

.preview
{
    padding: 10px;
    position: relative;
}

.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 10px;
    left: 132px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.form-group
{
    width:  250px;
    margin: 10px auto;
}

.form-group input
{
    transition: 0.3s linear;
}

.form-group input:focus
{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}

.Error
{
    color: crimson;
    font-size: 13px;
}

.Back
{
    font-size: 25px;
}
</style>

<style type="text/css">
    body {
        color: #404E67;
        background: #F5F7FA;
		font-family: 'Open Sans', sans-serif;
	}
	.table-wrapper {
		width: 100%;
		margin: 30px auto;
        background: #fff;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-new i {
		margin-right: 4px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td {
        border-bottom:1px solid #fff;
        border-left:1px solid #fff;
        color:#336699;
        border-top:1px solid transparent;
        padding:8px;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }

    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }    
	table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.add i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}
</style>

<div id="layoutSidenav_content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2>Tokens</h2></li>
        </ol>
    </nav>
                
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="display:none;">id</th>
                        <th>Token ID</th>
                        <th>Send To</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                        <tr>
                            <td style="display:none;"> {{ subscription.id}}</td>
                            <td> {{ subscription.token__tokenid}}</td>
                            <td> {{ subscription.address__address }}</td>
                            <td>
                                <a class="add"><i class="fas fa-plus"></i></a>
                                <a class="edit"><i class="fas fa-edit"></i></a>
                                <a class="delete"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; SPICE 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        // var actions = $("table td:last-child").html();
        var actions = "" +
            "<a class='add'><i class='fas fa-plus'></i></a>" +
            "<a class='edit'><i class='fas fa-edit'></i></a>" +
            "<a class='delete'><i class='fas fa-trash'></i></a>";
        // Append table with add row form on add new button click
        $(".add-new").click(function(){
            $(this).attr("disabled", "disabled");
            var index = $("table tbody tr:last-child").index();
            var row = '<tr>' +
                '<td style="display:none;"><input type="text" class="form-control" name="id" id="id" value="0">0</td>' +
                '<td><input type="text" class="form-control" name="idaddress" id="idaddress"></td>' +
                '<td><input type="text" class="form-control" name="sendto" id="sendto"></td>' +
                '<td>' + actions + '</td>' +
            '</tr>';
            $("table").append(row);		
            $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(document).on("click", ".add", function(){
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function(){
                if(!$(this).val()){
                    $(this).addClass("error");
                    alert($(this));
                    empty = true;
                } else{
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if(!empty){
                input.each(function(){
                    $(this).parent("td").html($(this).val());
                });			
                var row = $(this).parents("tr");
                var data = row.children("td");
                var rowid = data[0].innerHTML.replace(" ","");
                var tokenid = data[1].innerHTML.replace(" ","")
                var sendto = data[2].innerHTML.replace(" ","")
                
                var response = $.ajax({
                    url: "/setuptokens/",
                    method: "POST",
                    data:
                    {
                        action: 'add-edit',
                        id: rowid,
                        sendto: sendto,
                        tokenid:tokenid,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                });
                response.then(function(data, status){
                    alert(data.status)
                    if(data.status == 'success'){
                        $(this).parents("tr").find(".add, .edit").toggle();
                        $(".add-new").removeAttr("disabled");
                    };
                })
            }		
        });
        // Edit row on edit button click
        $(document).on("click", ".edit", function(){		
            $(this).parents("tr").find("td:not(:last-child)").each(function(){
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });		
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", ".delete", function(){
            // send post request here
            var row = $(this).parents("tr");
            var data = row.children("td");
            console.log(data);
            var rowid = data[0].innerText.replace(" ","");
            if (rowid == "0"){
                row.remove();
                $(".add-new").removeAttr("disabled");
            }else{
                var response = $.ajax({
                    url: "/setuptokens/",
                    method: "POST",
                    data:
                    {
                        action: 'delete',
                        id: rowid,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                });
                response.then(function(data, status){
                    if (data['status'] == 'success') {
                        row.remove();
                        $(".add-new").removeAttr("disabled");
                    };
                });
            }
        });
    });
    </script>
{% endblock content %}